<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %p ${PID:- } [%thread] %logger{60} - %msg%n"/>
    <property name="log.charset" value="UTF-8"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>